@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}



<section class="row">
    <div class="slide">
        <div class="overlay2"></div>
        <div class="animated fadeInUp overlay-title" id="title2" style="color:#ccc">
            <h1 class="text-danger"><b>Error. </b></h1>
           
        </div>
        <div class="col-lg-5 message-form">
<h2 class="text-danger">An error occurred while processing your request.</h2>

        </div>
        <img src="~/vasuda-template/images/mv.jpg" />
    </div>
</section>