@model VasudaDataAccess.DTOs.NotificationViewModel
@using VasudaDataAccess.Utility


@{
    Layout = "~/Views/shared/_LayoutDashboard.cshtml";
    ViewBag.Title = "Notification";
    var count = 1;
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Notifications</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        @if (Model.AllNotifications.Count == 0)
                        {
                            <h3 style="text-align:center">NO NOTIFICATION AVAILABLE</h3>
                        }
                        else
                        { 
                            <table id="notificationTable" class="table table-bordered table-striped table-hover table-sm table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Subject</th>
                                        <th>Date Published</th>
                                        <th>Read Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var notification in Model.AllNotifications)
                                    {
                                        <tr>
                                            <td>@count</td>
                                            <td>@notification.Subject</td>
                                            <td>@Util.FormatDate(notification.DateCreated)</td>
                                            <td>@notification.IsRead</td>
                                            <td><button type="button" id="viewMoreNotificationBtn" class="btn btn-outline-success btn-sm">View More</button></td>
                                        </tr>
                                        count++;
                                    }
                                </tbody>
                            </table>                       
                        }
                        </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                </div>
            </div>
        </div>
 </section>
