
@{
    ViewBag.Title = "Clearance";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<section class="row">
    <div class="slide3">
        <img src="~/Content/images/tl.jpg" />
    </div>
</section>
<section class="row" style="background:#f0f0f0">
    <div class="offset-lg-1 col-lg-10 section-title">
        Our Clearance <b>Products</b>
    </div>
    <div class="offset-lg-1 col-lg-10 products">
        <div class="row">
            <div class="p-tab">
                <div class="p-image">
                    <img src="~/Content/images/aa.jpg" />
                </div>
                <div class="p-name">Product 1</div>
                <div class="p-price">₦ 200,000</div>
            </div>
            <div class="p-tab">
                <div class="p-image">
                    <img src="~/Content/images/aa.jpg" />
                </div>
                <div class="p-name">Product 1</div>
                <div class="p-price">₦ 200,000</div>
            </div>
            <div class="p-tab">
                <div class="p-image">
                    <img src="~/Content/images/aa.jpg" />
                </div>
                <div class="p-name">Product 1</div>
                <div class="p-price">₦ 200,000</div>
            </div>
            <div class="p-tab">
                <div class="p-image">
                    <img src="~/Content/images/aa.jpg" />
                </div>
                <div class="p-name">Product 1</div>
                <div class="p-price">₦ 200,000</div>
            </div>
            <div class="p-tab">
                <div class="p-image">
                    <img src="~/Content/images/aa.jpg" />
                </div>
                <div class="p-name">Product 1</div>
                <div class="p-price">₦ 200,000</div>
            </div>
            <div class="p-tab">
                <div class="p-image">
                    <img src="~/Content/images/aa.jpg" />
                </div>
                <div class="p-name">Product 1</div>
                <div class="p-price">₦ 200,000</div>
            </div>
            <div class="p-tab">
                <div class="p-image">
                    <img src="~/Content/images/aa.jpg" />
                </div>
                <div class="p-name">Product 1</div>
                <div class="p-price">₦ 200,000</div>
            </div>
        </div>
    </div>
    <div class="offset-lg-4 col-lg-4 load">
        <i class="fas fa-plus-circle" aria-hidden="true"></i><br />Load More
    </div>
</section>
