
@{
    ViewBag.Title = "TrackOrder";
    Layout = "~/Views/shared/_Layout.cshtml";
}
<section class="row">
    <div class="slide">
        <div class="anmated fadeInUp" id="title3" style="color:#">
            <b>Track your orders with ease</b>
        </div>
        <div class="animated fadeInDown rider3">
            Enter your unique tracking number below to start.
        </div>
        <div class="col-lg-10 search-form">
            <input type="text" class="col-md-8 col-lg-6" placeholder="Enter your tracking number here..." ><br/>
            <button class="col-md-4 col-lg-5">Search</button>
        </div>
        <img src="~/content/images/style.jpg" class="slidepic"/>
    </div>
</section>
<section class="row" style="background:#f0f0f0">
    <div class="offset-lg-1 col-lg-10 section-title">
        Order Tracking <b>Details</b>
    </div>
    <div class="offset-lg-1 col-lg-10 products">
        <div class="row">
            <table id="orderHistoryTable" class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>S/N</th>
                    <th>Subject</th>
                    <th>Date Published</th>
                    <th>Read Status</th>
                    <th>Read Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                                            <td>1</td>
                                            <td>Name</td>
                                            <td>Tesst</td>
                                            <td>Read</td>
                                            <td><button type="submit" class="btn btn-outline-success btn-sm">View More</button></td>
                                        </tr>
                @*@foreach (var orders in Model.AllOrders)
                {
                    var count = 1;
                                        @*<tr>
                                            <td>@count</td>
                                            <td>@notification.Subject</td>
                                            <td>@notification.DateCreated</td>
                                            <td>@notification.IsRead</td>
                                            <td><button type="submit" class="btn btn-outline-success btn-sm">View More</button></td>
                                        </tr>
                    count++;
                }*@
                </tbody>
            </table>

        </div>
    </div>
</section>
