<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="VasudaDataModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=VasudaDataAccess.Model.VasudaDataModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TestEntities" connectionString="data source=sql5041.site4now.net;initial catalog=DB_A5731C_Vasuda;persist security info=True;user id=DB_A5731C_Vasuda_admin;password=Vasuda@123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="VasudaModel" connectionString="data source=sql5041.site4now.net;initial catalog=DB_A5731C_Vasuda;persist security info=True;user id=DB_A5731C_Vasuda_admin;password=Vasuda@123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="VasudaModel" connectionString="data source=sql5041.site4now.net;initial catalog=DB_A5731C_Vasuda;user id=DB_A5731C_Vasuda_admin;password=Vasuda@123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->


  <add name="VasudaModel" connectionString="metadata=res://*/Model.VasudaDataModel.csdl|res://*/Model.VasudaDataModel.ssdl|res://*/Model.VasudaDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5041.site4now.net;initial catalog=db_a5731c_Vasuda;integrated security=False;user id=DB_A5731C_Vasuda_admin;password=Vasuda@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.24.0" newVersion="1.11.24.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.7.0.0" newVersion="4.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>