@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section class="row">
    <div class="slide">
        <div class="overlay2"></div>
        <div class="animated fadeInUp overlay-title" id="title2" style="color:#ccc">
            <b>Password Reset</b>
        </div>
        <div class="col-lg-5 message-form">
            <p>
                Please check your email to reset your password.
            </p>
        </div>
        <img src="~/vasuda-template/images/mv.jpg" />
    </div>
</section>



