@{
    ViewBag.Title = "About";
}

<section class="row">
    <div class="slide3">
        <img src="~/vasuda-template/images/aa.jpg" />
    </div>
</section>
<section class="row" style="background:#f0f0f0">
    <div class="offset-lg-1 col-lg-10 section-title">
        About <b>Us</b>
    </div>
    <div class="offset-lg-1 col-lg-10 about">
        <div class="row">
            <p>  Vasudamall is a procurement & shipping service company that help to bridge the gap between suppliers and customers. Vasudamall offers the following services below<br />
            ●	Purchasing and shipping,<br />
            ●	Shipping only<br />
            ●	Purchasing only<br />
            ●	Domestic shipping within China & Nigeria,<br />
            ●	Buy from the following Chinese sites 1688.com, Aliexpress, Alibaba.com & Taobao.com.<br />
            </p>
            <p> <b> How to Register</b><br />
            Simply go to Vasudamall.com, click on register to create your profile, you can update your profile when necessary.<br />
            How to Fund Your Wallet<br />
            To place or ship your order on Vasudamall.com you are required to fund your wallet, which can be done by making payment in the Vasuda account. After payment has been made to our account your e-wallet will be credited with the Dollar equivalent (depending on the prevailing dollar rate)of the amount paid within the period of 24 hours. Please note that all transactions are done in Dollar.<br />
            </p>
            <p>
                <b>How to Place Your Order</b><br />

                Go to any of the below listed websites, confirm the item you want to purchase and paste the link of the product with all necessary information requested on vasudamall.com to place your order.<br />
                1688.com,Aliexpress, Alibaba.com, Taobao.<br />

                Ensure you give all necessary information needed to avoid delay in the procurement and shipping of your order e.g supplier and shippers phone number for shipping only and procurement only orders .Orders will not be processed where incomplete information is provided. Vasudamall will not take responsibility for any wrong, missing, delayed order due to wrong information from the customer.<br />
            </p>
            <p>
                <b><u> Shipping and Service Fees</u></b><br />

                A 3% service fee will be charged on every link you order, local delivery rates from your supplier within China to our office where applicable will be charged and deducted from your wallet, a reference code will be generated to track your order, it takes a period of 3-5 days to purchase from your supplier to our China office and you will be notified.Upon confirmation of delivery to our China office you can proceed with shipping of your item note that shipping is charged per Kg and can be done through our normal,express or Tri-weekly shipment.<br />

                Notification mail will be sent when item arrives at our Lagos office to be picked within a week of arrival after which demurrage charge will apply.<br />
            </p>
            <p>
                <b>Shipping Outside Lagos</b><br />

                For customers outside Lagos that cannot pick up at our office delivery can be done at a fee depending on the delivery location, delivery company and package weight.<br />

                For inquiries and after sales services issues contact support@vasudamall.com or Whats App 09064132571.<br />
            </p>
        </div>
    </div>
</section>
