@{
    ViewBag.Title = "About";
}

<section class="row">
    <div class="slide3">
        <img src="~/vasuda-template/images/aa.jpg" />
    </div>
</section>
<section class="row" style="background:#f0f0f0">
    <div class="offset-lg-1 col-lg-10 section-title">
        About <b>Us</b>
    </div>
    <div class="offset-lg-1 col-lg-10 about">
        <div class="row">
            About us content goes here...
        </div>
    </div>
</section>
