@{
    ViewBag.Title = "Contact-Us";
}

<section class="row">
    <div class="slide">
        <div class="animated fadeInUp" id="title2" style="color:#">
            <b>Got Questions?, Contact Us.</b>
        </div>
        <div class="animated fadeInDown rider2">
            Send us an email via <b>enquiries@vasudamall.com </b><br />
            or use the contact form below
        </div>
        <form id="ContactUsForm">
            <div class="col-lg-5 message-form">
                <input type="text" data-formname="Full Name" required id="fullName" class="col-lg-10" placeholder="Full Name">
                <input type="text" data-formname="Address" required id="address" class="col-lg-10" placeholder="Address">
                <input type="number" data-formname="Phone Number" required id="number" class="col-lg-10" placeholder="Phone Number">
                <textarea type="text" data-formname="Message" required id="message" class="col-lg-10" placeholder="Enter your message here..."></textarea><br />
                <button type="button" id="Submit" class="col-lg-5">Send</button>
            </div>
        </form>
      
        <img src="~/vasuda-template/images/contactPage.jpg" class="slidepic" />
    </div>
</section>
<section class="row" style="background:#f0f0f0">
    <div class="offset-lg-1 col-lg-10 page-tab-wrapper">
        <div class="row">
            <div class="col-lg-12 page-tab">Privacy Policy <i class="fas fa-plus" id="a"></i><i class="fas fa-minus" id="e1"></i></div><br />
            <div class="page-content" id="a1">Vasudamall Procurement & Shipping Services operates the Website which provides the SERVICE.
                This page is used to inform visitors to Vasudamall regarding our policies with the collection, use, and disclosure of Personal Information if anyone decided to use our Service.
                If you choose to use our Service, then you agree to the collection and use of information in relation with this policy. The Personal Information that we collect is used for providing and improving the Service. We will not use or share your information with anyone except as described in this Privacy Policy.
                The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is accessible at Website URL, unless otherwise defined in this Privacy Policy.
            </div>
            <div class="col-lg-12 page-tab">Returns <i class="fas fa-plus" id="b"></i><i class="fas fa-minus" id="e2"></i></div><br />
            <div class="page-content" id="b1">Thanks for using our platform to purchase your items/goods from China.
                Note that you are expected to fill the correct information needed for us to buy your goods, we are not to be held responsible for any disparity of what you expect to get from the Chinese website.
                This acts as a disclaimer as a third party.
            </div>
            <div class="col-lg-12 page-tab">Terms of Use <i class="fas fa-plus" id="c"></i><i class="fas fa-minus" id="e3"></i></div><br />
                                                                                                                                     <div class="page-content" id="c1">
                                                                                                                                         The www.vasudamall.com website located at https://vasudamall.com/ is a copyrighted work belonging to Vasudamall. Certain features of the Site may be subject to additional guidelines, terms, or rules, which will be posted on the Site in connection with such features.
                                                                                                                                         All such additional terms, guidelines, and rules are incorporated by reference into these Terms.
                                                                                                                                         These Terms of Use described the legally binding terms and conditions that oversee your use of the Site. BY LOGGING INTO THE SITE, YOU ARE BEING COMPLIANT THAT THESE TERMS and you represent that you have the authority and capacity to enter into these Terms. YOU SHOULD BE AT LEAST 18 YEARS OF AGE TO ACCESS THE SITE. IF YOU DISAGREE WITH ALL OF THE PROVISION OF THESE TERMS, DO NOT LOG INTO AND/OR USE THE SITE.
                                                                                                                                         These terms require the use of arbitration Section 10.2 on an individual basis to resolve disputes and also limit the remedies available to you in the event of a dispute. These Terms of Use were created with the help of the Terms Of Use Generator and the Privacy Policy Generator.
                                                                                                                                         Access to the Site
                                                                                                                                         Subject to these Terms. Company grants you a non-transferable, non-exclusive, revocable, limited license to access the Site solely for your own personal, noncommercial use.
                                                                                                                                         Certain Restrictions. The rights approved to you in these Terms are subject to the following restrictions: (a) you shall not sell, rent, lease, transfer, assign, distribute, host, or otherwise commercially exploit the Site; (b) you shall not change, make derivative works of, disassemble, reverse compile or reverse engineer any part of the Site; (c) you shall not access the Site in order to build a similar or competitive website; and (d) except as expressly stated herein, no part of the Site may be copied, reproduced, distributed, republished, downloaded, displayed, posted or transmitted in any form or by any means unless otherwise indicated, any future release, update, or other addition to functionality of the Site shall be subject to these Terms.  All copyright and other proprietary notices on the Site must be retained on all copies thereof.
                                                                                                                                         Company reserves the right to change, suspend, or cease the Site with or without notice to you.  You approved that the Company will not be held liable to you or any third-party for any change, interruption, or termination of the Site or any part.
                                                                                                                                         Third-Party Links & Ads; Other Users
                                                                                                                                         Third-Party Links & Ads. The Site may contain links to third-party websites and services, and/or display advertisements for third-parties.  Such Third-Party Links & Ads are not under the control of Company, and Company is not responsible for any Third-Party Links & Ads.  Company provides access to these Third-Party Links & Ads only as a convenience to you, and does not review, approve, monitor, endorse, warrant, or make any representations with respect to Third-Party Links & Ads.  You use all Third-Party Links & Ads at your own risk, and should apply a suitable level of caution and discretion in doing so. When you click on any of the Third-Party Links & Ads, the applicable third party’s terms and policies apply, including the third party’s privacy and data gathering practices.
                                                                                                                                         Disclaimers
                                                                                                                                         The site is provided on an "as-is" and "as available" basis, and company and our suppliers expressly disclaim any and all warranties and conditions of any kind, whether express, implied, or statutory, including all warranties or conditions of merchantability, fitness for a particular purpose, title, quiet enjoyment, accuracy, or non-infringement.  We and our suppliers make not guarantee that the site will meet your requirements, will be available on an uninterrupted, timely, secure, or error-free basis, or will be accurate, reliable, free of viruses or other harmful code, complete, legal, or safe.
                                                                                                                                         Term and Termination. Subject to this Section, these Terms will remain in full force and effect while you use the Site.  We may suspend or terminate your rights to use the Site at any time for any reason at our sole discretion, including for any use of the Site in violation of these Terms.  Upon termination of your rights under these Terms, your Account and right to access and use the Site will terminate immediately.  You understand that any termination of your Account may involve deletion of your User Content associated with your Account from our live databases and a total refund of funds in your wallet would be made.  Company will not have any liability whatsoever to you for any termination of your rights under these Terms.  Even after your rights under these Terms are terminated, the following provisions of these Terms will remain in effect:

                                                                                                                                         General
                                                                                                                                         These Terms are subject to occasional revision, and if we make any substantial changes, we may notify you by sending you an e-mail to the last e-mail address you provided to us and/or by prominently posting notice of the changes on our Site.  You are responsible for providing us with your most current e-mail address.  In the event that the last e-mail address that you have provided us is not valid our dispatch of the e-mail containing such notice will nonetheless constitute effective notice of the changes described in the notice.  Any changes to these Terms will be effective upon the earliest of thirty (30) calendar days following our dispatch of an e-mail notice to you or thirty (30) calendar days following our posting of notice of the changes on our Site.  These changes will be effective immediately for new users of our Site.  Continued use of our Site following notice of such changes shall indicate your acknowledgement of such changes and agreement to be bound by the terms and conditions of such changes. Dispute Resolution. Please read this Arbitration Agreement carefully. It is part of your contract with Company and affects your rights.  It contains procedures for MANDATORY BINDING ARBITRATION AND A CLASS ACTION WAIVER.
                                                                                                                                         Electronic Communications. The communications between you and Company use electronic means, whether you use the Site or send us emails, or whether Company posts notices on the Site or communicates with you via email. For contractual purposes, you (a) consent to receive communications from Company in an electronic form; and (b) agree that all terms and conditions, agreements, notices, disclosures, and other communications that Company provides to you electronically satisfy any legal obligation that such communications would satisfy if it were be in a hard copy writing.
                                                                                                                                         Copyright/Trademark Information. Copyright ©. All rights reserved.  All trademarks, logos and service marks displayed on the Site are our property or the property of other third-parties. You are not permitted to use these Marks without our prior written consent or the consent of such third party which may own the Marks.
                                                                                                                                         Contact Information
                                                                                                                                         Address: 6 Godwin street
                                                                                                                                         Email: info@vasudamall.com
                                                                                                                                     </div>
            <div class="col-lg-12 page-tab">Shipping <i class="fas fa-plus" id="d"></i><i class="fas fa-minus" id="e4"></i></div><br />
            <div class="page-content" id="d1">Our shipping rate is $10/kg for all normal shipping plus 3% for service charge on all orders. Our shipping rates are prone to changes according to prevailing market rates.
                Normal Shipping takes 5-7 days to get to Nigeria.
                All transactions are in Dollars</div>
        </div>
    </div>
</section>