
@{
    ViewBag.Title = "Terms";
    Layout="~/Views/Shared/_Layout.cshtml";
   

}
<section class="row">
    <div class="slide3">
        <img src="~/Content/images/aa.jpg" />
    </div>
</section>
<section class="row" style="background:#f0f0f0">
    <div class="offset-lg-1 col-lg-10 section-title">
        Terms & <b>Conditions</b>
    </div>
    <div class="offset-lg-1 col-lg-10 about">
        <div class="row">
            Terms goes here...
        </div>
    </div>
</section>

